:root {
  --primary-color: #6c63ff;

  --bg-color: #f9f7fe;
  --font-family: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}
.navbar-toggler {
  color: var(--primary-color);
  background-color: var(--primary-color);
}
.navbar-brand {
  font-family: var(--font-family);
  font-weight: 900;
}
.container span {
  color: var(--primary-color);
}
.active {
  color: var(--primary-color);
}
h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: var(--font-family);
  font-weight: bold;
  margin: 0;
}
h1 {
  font-size: 92px;
  margin: 0;
}

.hero-section h2 {
  font-family: "Poppins", sans-serif;

  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.hero-section p {
  font-family: var(--default-font);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}
.button a {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: var(--primary-color);
  font-size: 18px;
}
.hero-section {
  background-color: var(--bg-color);
  padding: 160px 20px;
  text-align: center;
}
.button-primary {
  text-decoration: none;
  color: var(--primary-color);
  border-radius: 4px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
  border: 2px solid var(--primary-color);
}
.button-primary:hover {
  box-shadow: inset 0 0 0 3px var(--primary-color);
  transition: all 200ms ease-in-out;
  color: var(--primary-color);
}
.sub-header {
  font-size: 24px;
}
.container p {
  font-family: var(--default-font);
}
.homepage-paragraph {
  line-height: 2;
}
.project-description {
  padding-left: 50px;
}
.primary-button {
  padding-left: 50px;
}
.container h2 {
  font-size: 30px;
}
.contact-footer {
  background-color: var(--bg-color);
  padding: 40px;
  border-radius: 20px;
}
.button-contact {
  margin: 20px;
}

.button-contact a {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 15px 25px;
  text-decoration: none;

  background-color: var(--primary-color);
  font-size: 18px;
}
.mail-link {
  font-size: 24px;
  color: black;
  text-decoration: none;
}
.mail-link:hover {
  color: var(--primary-color);
}
.social-links a {
  font-size: 18px;
  margin: 0 3px;
  color: var(--primary-color);
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
.social-links a:hover {
  color: white;
  background: var(--primary-color);
}
.about-section h1 {
  font-size: 48px;
}
.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font);
  line-height: 2;
}
.about-page {
  margin-top: 90px;
}
.about-description {
  margin-top: 20px;
}
.my-image {
  height: 450px;
  width: 350px;
}
.contact-page {
  margin-top: 80px;
}
.contact-header {
  font-size: 60px;
}

.contact-section {
  text-align: center;
}
.contact-paragraph {
  font-size: 20px;
  line-height: 1.5;
}
h3 {
  color: var(--primary-color);
}
.fa-envelope-o {
  color: black;
}
.mail a {
  color: black;
  text-decoration: none;
}
.mail a:hover {
  color: var(--primary-color);
}
@media (max-width: 995px) {
  h1 {
    font-size: 60px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .project-description2 {
    text-align: center;
  }
  .primary-button {
    padding: 0;
    text-align: center;
  }
  .primary-button2 {
    text-align: center;
  }
  .hero-section h2 {
    font-size: 22px;
    line-height: 1.2;
  }
  .hero-section p {
    font-size: 30px;
  }
  .about-section h1 {
    font-size: 40px;
  }
  .about-section h2 {
    line-height: 1.5;
  }
  .my-image2 {
    height: 350px;
    width: 300px;
  }
  .aboutpage-paragraph {
    line-height: 1.8;
    font-size: 16px;
  }
  .contact-header {
    font-size: 40px;
  }
  .contact-paragraph {
    font-size: 18px;
    line-height: 1.2;
  }
}
