:root {
  --primary-color: #89023e;
  --secondary-color: ;
  --bg-color: rgba(255, 58, 34, 0.1);
  --font-family: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}
h1,
h2,
h3 {
  text-align: center;
  font-family: var(--font-family);
  font-weight: bold;
}
h1 {
  font-size: 92px;
  margin: 0;
}
.hero-section h2 {
  font-family: "Poppins", sans-serif;
  opacity: 0.8;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.hero-section p {
  font-family: var(--default-font);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}
.button a {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: var(--primary-color);
  font-size: 18px;
}
.hero-section {
  background-color: var(--bg-color);
  padding: 160px 0;
  text-align: center;
}
.button-primary {
  text-decoration: none;
  color: var(--primary-color);
  border-radius: 4px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
  border: 2px solid var(--primary-color);
}
.sub-header {
  font-size: 24px;
}
.container p {
  font-family: var(--default-font);
  line-height: 2;
}
