:root {
  --primary-color: #6c63ff;

  --bg-color: #f9f7fe;
  --font-family: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}
h1,
h2,
h3 {
  text-align: center;
  font-family: var(--font-family);
  font-weight: bold;
  margin: 0;
}
h1 {
  font-size: 92px;
  margin: 0;
}
.hero-section h2 {
  font-family: "Poppins", sans-serif;
  opacity: 0.8;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.hero-section p {
  font-family: var(--default-font);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}
.button a {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: var(--primary-color);
  font-size: 18px;
}
.hero-section {
  background-color: var(--bg-color);
  padding: 160px 20px;
  text-align: center;
}
.button-primary {
  text-decoration: none;
  color: var(--primary-color);
  border-radius: 4px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
  border: 2px solid var(--primary-color);
}
.button-primary:hover {
  box-shadow: inset 0 0 0 3px var(--primary-color);
  transition: all 200ms ease-in-out;
  color: var(--primary-color);
}
.sub-header {
  font-size: 24px;
}
.container p {
  font-family: var(--default-font);
  line-height: 2;
}
.project-description {
  padding-left: 50px;
}
.primary-button {
  padding-left: 50px;
}
@media (max-width: 995px) {
  h1 {
    font-size: 60px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .project-description2 {
    text-align: center;
  }
  .primary-button {
    padding: 0;
    text-align: center;
  }
  .primary-button2 {
    text-align: center;
  }
  .hero-section h2 {
    font-size: 22px;
  }
  .hero-section p {
    font-size: 30px;
  }
}
